#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flashcard {
  width: 600px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.flashcard:hover {
  transform: scale(1.05);
}

.flashcard-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.flashcard-text {
  font-size: 18px;
  text-align: center;
}

.App {
  background-image: url('https://www.purina-arabia.com/sites/default/files/2021-02/BREED%20Hero_0106_retriever_labrador.jpg'); /* Replace with your image URL */
  background-size: cover; /* Ensure the image covers the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 50vh; /* Set the height to the full viewport height */
}